@font-face {
    font-family: latoblack;
    src: url('../fonts/latoblack.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: Lato;
    src: url('../fonts/latoregular.ttf');
}

header #header-social {
    padding: 0px;
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  padding-top: 20%;
  background: rgba(0,0,0,0.8);
  z-index: 9999;   
}

.loader {margin: 20% 0;}
.loader img { width: 40px;}
.banner {
    background: url(../images/banner-new-1.png) no-repeat center top;
    height: 660px;
    background-size: 100%;
}

.banner2 {
    background: url(../images/banner2.png) no-repeat center center;
    height: 660px;
    background-size: 100%;
}

.banner-destination {
    /*height: 660px;*/
    background-size: 100%;
}

.banner-destination img {
    width: 100%;
}

.btn-submit {
    width: 150px;
}

.btn-submit:hover {
    width: 150px;
    border-radius: 25px;
    background: #00f;
}

.filter-darker {
    -webkit-filter: brightness(.7);
    filter: brightness(.7);
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.one-p {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

.padding-40 {
    padding: 40px 0px;
}

.title-sec {
    font-family: latoblack;
    margin-bottom: 70px;
    font-size: 24pt;
    color: #162a55;
}

.title-sec2 {
    font-family: latoblack;
    margin-bottom: 20px;
    font-size: 48pt;
    color: #162a55;
}

.margin-top-120 {
    margin-top: 120px;
}

.margin-top-110 {
    margin-top: 110px;
}

.margin-top-100 {
    margin-top: 100px;
}

.bottom-rainbow {
    width: 145px;
    height: 10px;
    background-image: repeating-linear-gradient(to right, #f79421 0px, #f79421 50px, #fcd432 50px, #fcd432 100px, #ef4665 100px, #ef4665 150px);
    background-size: 100% 10px;
    background-repeat: no-repeat;
}

.bottom-rainbow-long {
    width: 100%;
    height: 5px;
    margin-top: 120px;
    margin-bottom: 30px;
    background-image: repeating-linear-gradient(to right, #8cc74f 0px, #f79421 50px, #fcd432 50px, #fcd432 100px, #2993d1 100px, #2993d1 150px, #793593 150px, #793593 200px, #ef4665 200px, #ef4665 250px, #fcd432 250px, #fcd432 300px, #8cc74f 300px, #8cc74f 350px, #26bcaa 350px, #26bcaa 400px, #f79422 400px, #f79422 450px, #ef4665 450px, #ef4665 500px, #793593 500px, #793593 550px);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    transform: skewX(60deg);
}

.short-content {
    color: #162a55;
    margin-top: 65px;
    margin-bottom: 45px;
}

.read-more {
    font-family: latoblack;
    color: #7b358e;
    font-weight: bold;
    font-size: 9pt;
}

.read-more-destination {
    width: 100px;
}

.img-animal {
    margin-top: 60px;
    width: 120px;
    margin-left: 20px;
}

.icon-destination {
    margin-bottom: 20px;
}

.icon-destination img {
    width: 100%;
    padding: 0 30%;
}

.uppercase {
    text-transform: uppercase;
}

[class*=" imghvr-"] figcaption,
[class^=imghvr-] figcaption {
    background: rgba(38, 188, 170, 0.8) !important;
}

.width-full {
    width: 100%;
    z-index: 0;
}

.animal-icon {
    bottom: 130px;
    position: relative;
    left: 350px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

[class*="bg-overlay"] figcaption,
[class*="bg-overlay"] figcaption {
    background: rgba(30, 40, 85, 0.9) !important;
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
    background: rgba(30, 40, 85, 0.9) !important;
}

.bg-video {
    background: url(../images/bg-video.jpg) no-repeat top center;
    -webkit-background-size: cover;
    background-size: 100%;
    padding: 150px 0px;
}

.bg-orange {
    background: #f89928;
    background: linear-gradient(90deg, #f89928 0%, #f7e01e 100%);
    /*margin-left: -15px;
    margin-right: -15px;*/
    transition: 0.5s;
}

.bg-orange-val {
    padding: 100px;
}

.bg-orange:hover {
    opacity: 0.85;
    transition: 0.5s;
}

.bg-orange a:hover {
    text-decoration: none;
}

.bg-blue {
    background: #1e5b93;
    background: linear-gradient(90deg, #1e5b93 0%, #25aae1 100%);
    /*margin-left: -15px;
    margin-right: -15px;*/
    transition: 0.5s;
}

.bg-blue-val {
    padding: 100px;
}

.bg-blue a:hover {
    text-decoration: none;
}

.bg-blue:hover {
    opacity: 0.85;
    transition: 0.5s;
}

.container-full .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.hashtag {
    font-size: 27pt;
    font-family: latoblack;
    color: #FFFFFF;
    text-align: center;
}

.margin-top-130 {
    margin-top: 130px;
}

.center-video {
    text-align: center;
}

.sosmed-video {
    font-size: 30px;
    color: #FFFFFF;
    text-align: left;
}

.sosmed-video i {
    margin-right: 15px;
}

.banner-text-big {
    font-size: 55pt;
    color: #7b358e;
    font-weight: 700;
    line-height: 75px;
}

.banner-text {
    font-size: 50pt;
    color: #7b358e;
    font-weight: 700;
    line-height: 60px;
}

.bg-banner-text {
    background: #7b358e;
    color: #00af9f;
    font-size: 16pt;
    font-weight: 700;
    padding: 10px 30px;
    position: relative;
    bottom: 15px;
}

.area-banner-text {
    margin-top: 200px;
}

.margin-top-35 {
    margin-top: 35px;
}

.topbar {
    background-color: #162a55;
    padding: 15px;
}

footer {
    background-color: #162a55;
    padding: 15px;
    text-align: center;
    color: #fff;
}

.sosmed {
    text-align: right;
}

.sosmed a {
    font-size: 16px;
    color: #ffffff;
    margin-left: 15px;
}

.bottom-rainbow-topbar {
    width: 99%;
    height: 5px;
    background-image: repeating-linear-gradient(to right, #8cc74f 0px, #f79421 50px, #fcd432 50px, #fcd432 100px, #2993d1 100px, #2993d1 150px, #793593 150px, #793593 200px, #ef4665 200px, #ef4665 250px, #fcd432 250px, #fcd432 300px, #8cc74f 300px, #8cc74f 350px, #26bcaa 350px, #26bcaa 400px, #f79422 400px, #f79422 450px, #ef4665 450px, #ef4665 500px);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: skewX(60deg);
}

.area-menu {
    padding: 20px 50px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    top: 0px;
    position: fixed;
    right: 0;
    z-index: 1000;
    overflow-y: auto;
    margin-right: 0px;
    width: 0;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

@media (min-width: 768px) {
    /*#wrapper {*/
    /*padding-left: 250px;*/
    /*}*/
    /*#wrapper.toggled {*/
    /*padding-left: 0;*/
    /*}*/
    /*#sidebar-wrapper {*/
    /*width: 250px;*/
    /*}*/
    /*#wrapper.toggled #sidebar-wrapper {*/
    /*width: 0;*/
    /*}*/
    /*#page-content-wrapper {*/
    /*padding: 20px;*/
    /*}*/
    /*#wrapper.toggled #page-content-wrapper {*/
    /*position: relative;*/
    /*margin-right: 0;*/
    /*}*/
}

.nav-hamburger {
    background: #1e2855;
    width: 45px;
    margin-top: 15px;
    padding: 0px 15px;
    margin-left: 25px;
}

.nav-hamburger i {
    color: #FFF;
}

.title-bg {
    font-size: 30px;
    top: 250px;
    font-weight: 700;
    /* background: #26bcaa; */
    color: #FFF;
    /* padding: 5px; */
    text-align: right;
    padding-right: 15px;
    width: 320px;
    position: absolute;
    left: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#hidden_content {
    padding-bottom: 50px;
}

.text-purple {
    color: #662d91;
    font-style: italic;
}

.img-animal-burung {
    position: absolute;
    top: 153px;
    z-index: 2;
    width: 210px;
}

.img-title {
    /*margin-top: 40px;*/
    position: relative;
    /*top: -95px;*/
    top: -135px;
    right: -130px
}

.content-left-bg {
    margin-right: -15px;
}

.img-right-bg {
    margin-right: -15px;
}

.content-right {
    margin-top: 105px;
}

.btn-release {
    text-align: center;
}

.margin-top-420 {
    margin-top: 420px;
}

.bg-section {
    background: url(../images/bg-left.jpg) bottom left no-repeat;
    height: 351px;
    width: 101%;
    background-size: cover;
}

.bg-section-img {
    /*background: url(../images/fishing.jpg) bottom left no-repeat;*/
    height: 351px;
    width: 100%;
    background-size: cover;
}

.text-bg-left-sec {
    padding-left: 200px;
    padding-top: 80px;
    color: #FFF;
    padding-right: 30px;
}

.heading-get {
    font-size: 30pt;
    font-family: latoblack;
    color: #162a55;
}

.heading-pop {
    font-size: 30pt;
    font-family: latoblack;
    color: #ffffff;
}

#registerModal .heading-pop {
    width: 80%;
}

#registerModal .bg-modal-text-register {
    width: 80%;
}

.text-blue {
    color: #162a55;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-30 {
    margin-top: 30px;
}

.color-white {
    color: #FFFFFF;
}

.slick-center .slide-h3 {
    color: #FFF;
}

.slider {
    width: 100% !important;
    height: 150px;
    margin: 20px auto;
    text-align: center;
}

.slide-h3 {
    margin: 10% 0 10% 0;
    padding: 40% 20%;
    background: #008ed6;
}

.slider div {
    margin-right: 5px;
}

.slick-slide {
    opacity: .6;
}

.slick-center {
    display: block;
    max-width: 10% !important;
    max-height: 20% !important;
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    color: #000 !important;
}

.slick-prev {
    left: 10px;
    z-index: 9;
}

.slick-next {
    right: 10px;
    z-index: 9;
}

.content {
    margin: auto;
    margin-top: 90px;
    padding: 20px;
    width: 98%;
}

.slick-slide img {
    width: 100%;
    display: block;
    background: transparent;
}

.slick-prev, .slick-next {
    top: 25%;
}

.slick-initialized .slick-slide {
    display: block;
    margin: 0px 10px;
}

.margin-top-145 {
    margin-top: 145px;
}

.margin-top-160 {
    margin-top: 40%;
}

.modal-custom {
    min-width: 1200px !important;
}

.modal-custom .modal-content {
    /*background: url("../images/bromo.jpg") no-repeat;*/
    background-size: cover;
    width: 100%;
}

.modal-custom .model-content {
    height: auto;
}

.modal-custom .modal-body {
    padding: 0px !important;
    /*background: rgba(0, 0, 0, 0.4);*/
}

.modal-custom .modal-body input {
    text-align: center;
}

#after-register .modal-custom .area-photo#label-area-photo {
    cursor: default;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.4);
}

.modal-custom .modal-header {
    border: none;
}

#content {
    margin-top: 144px;
}

header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9;
    top: 0;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(194, 194, 194, 0.47);
    -moz-box-shadow: 0px 5px 14px 0px rgba(194, 194, 194, 0.47);
    box-shadow: 0px 5px 14px 0px rgba(194, 194, 194, 0.47);
}

.area-profile {
    background: url("../images/popup-background.jpg") no-repeat bottom;
    background-size: cover;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.area-profile .logo-modal {
    height: 150px;
}

.area-photo {
    background: #e7e7e8;
    padding: 100px 50px;
    font-style: italic;
    cursor: pointer;
    text-align: center;
    color: #939598;
}

.area-photo label {
    font-weight: 500;
}

.area-photo input {
    visibility: hidden;
}

.hiking-box {
    background: #7a3593;
    padding: 10px 20px;
    margin-top: 82px;
    margin-left: -40px;
}

.hiking-box img {
    width: 45px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.close {
    margin-top: -15px;
    margin-right: -15px;
    opacity: 1;
}

.close:hover {
    opacity: 1;
}

.your-name::-webkit-input-placeholder {
    font-style: italic;
    color: #939598;
}

.your-name:-moz-placeholder {
    font-style: italic;
    color: #939598;
}

.your-name::-moz-placeholder {
    font-style: italic;
    color: #939598;
}

.your-name:-ms-input-placeholder {
    font-style: italic;
    color: #939598;
}

.your-name {
    background-color: #dddddd;
    border-radius: 0px !important;
    border: none;
    margin-top: 15px;
}

.text-bold {
    font-weight: bold;
}

.text-destination-pop {
    margin-left: 15px;
    color: #FFF;
}

.text-num {
    font-size: 30px;
    margin-left: 110px;
    color: #112353;
}

.place {
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 15px;
    margin-right: -30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
    height: auto;
}

.sitting {
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
    margin-right: -30px;
    font-size: 14px;
    line-height: 16px;
    height: auto;
}

.img-full {
    min-width: 100%;
}

#photoProfile {
    visibility: hidden;
}

#video-carousel .carousel-control-next-icon {
    background-image: url("../images/arrow-right.png");
}

#video-carousel .carousel-control-prev-icon {
    background-image: url("../images/arrow-right.png");
    -webkit-transform: rotate(180deg);
}

#video-carousel .carousel-control-next-icon,
#video-carousel .carousel-control-prev-icon {
    width: 25px;
    height: 40px;
}

#video-carousel .playpause {
    background-image: url(../images/play-button.svg);
    background-repeat: no-repeat;
    width: 15%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

#after-register .bg-modal-text {
    background: #1e2855;
    opacity: 0.75;
    color: #ffffff;
    margin-top: 185px;
    padding: 30px 30px 30px 80px;
    margin-left: -44px;
    width: 85%;
}

.bg-modal-text-register {
    opacity: 0.75;
    color: #ffffff;
    padding: 30px 30px 50px 50px;
    margin-left: -44px;
    width: 80%;
}

.sosmed-icon {
    margin-top: 25px;
    margin-left: 30px;
}

.sosmed-icon a img {
    margin-right: 10px;
}

.sosmed-icon a img:hover {
    background: rgba(26, 42, 86, 0.9);
    border-radius: 30px;
}

.photo-user {
    width: 100%;
    height: 300px;
}

.text-viola {
    color: #7a3593;
    font-family: latoblack;
}

#destination figure {
    margin-bottom: 20px;
}

#destination figure.active [class*=" imghvr-"] figcaption,
#destination figure.active [class^=imghvr-] figcaption {
    background: rgba(38, 188, 170, 0.8) !important;
}

#destination #more-destination {
    display: none;
}

.hidden {
    display: none;
}

#reveal-button img {
    width: 485px;
}

.img-logo {
    width: 100%;
}

.btn-facebook:active:hover,
.btn-facebook.active:hover,
.open > .dropdown-toggle.btn-facebook:hover,
.btn-facebook:active:focus,
.btn-facebook.active:focus,
.open > .dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,
.btn-facebook.active.focus,
.open > .dropdown-toggle.btn-facebook.focus {
    color: #fff;
    background-color: #23345a;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook {
    margin-left: 15px;
    color: #fff;
    background-color: #f00;
    border-color: rgba(0, 0, 0, 0.2);
    background: url(https://othergames2018.com/assets/images/btn-click-to-release.png);
}

/*.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}*/
.clear-100 {
    margin-top: 100px;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.photo-fb {
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    border: solid #fff 5px;

}

.nopadding {
    padding: 0px 15px 0px 15px;
    margin: 15px -40px -36px -40px;
}

.latoblack {
    font-family: latoblack;
}

.popup-icon-logo {
    display: block;
}

.popup-icon-logo p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.popup-icon-logo img {
    width: 100%;
    padding: 20px 60px 11px;
}

.modal-backdrop.fade {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#download-ig {
    width: 640px;
    height: 800px;
    padding-top: 70px;
}

.area-profile-download-ig {
    background: url(../images/popup-background.jpg) no-repeat bottom;
    background-size: cover;
    padding: 40px;
    width: 500px;
    margin-left: 150px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.buy-ticket-mobile {
    display: none;
}

.wi-img {
    height: 65px;
}

/*# sourceMappingURL=custom.css.map */

/*
ADVANCED*/
.margin-auto {
    margin: 0 auto;
}

@media only screen and (max-width: 320px) {
    .area-photo {
        padding: 40px !important;
    }

}

@media (max-width: 600px) {
    /**{
        outline: solid 2px red;
    }*/
    html, body {
        overflow-x: hidden;
    }

    #registerModal .heading-pop{
        width:100%;
    }
    #after-register .bg-modal-text {
        padding: 20px 45px;
        width: 100%;
        margin: 20px 0px;
    }

    .congratulations h3{
        font-size: 14px;
        font-family: latoblack;
    }
    .form-athlete{
        margin-bottom: 10px;
    }

    .heading-pop {
        font-size: 14pt;
        text-align: center;
        margin-top: 40px;
    }

    #registerModal .bg-modal-text-register {
        width: 100%;
        line-height: 15px;
        padding: 15px 30px 0px;
    }

    .bg-modal-text-register {
        padding: 30px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .register-content .btn-submit{
        display:none;
    }

    #other-destination-content{
        margin-top: -60px;
    }

    .img-logo {
        width: 90px;
        margin-top: 10px;
    }

    .img-animal-burung {
        width: 160px;
    }

    .img-animal-burung {
        top: 5px;
    }

    .img-title {
        right: 0;
        top: 15px;
    }

    .congratulations {
        font-size: 10pt;
    }

    .sosmed-icon a img {
        margin-right: 20px;
        width: 35px;
    }

    .area-profile .logo-modal {
        height: auto;
        padding-top: 6px;
    }

    .popup-icon-logo img {
        width: 100%;
        padding: 0px 10px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .banner {
        background: url(../images/banner-mobile.jpg) no-repeat center bottom;
        height: auto;
        background-size: 100%;
        padding-bottom: 60px;
        margin-top: -70px;
    }

    #photoProfile {
        position: absolute;
    }

    .your-name {
        margin-top: 5px;
        font-size: 8pt;
    }

    .btn-release {
        width: 100%;
        margin-top: 80px;
    }

    .popup-icon-logo p {
        font-size: 7pt;
    }

    .text-viola {
        font-size: 14px;
    }

    .bg-modal-text {
        margin-left: 0px;
        padding: 15px;
    }

    .nopadding {
        padding: 15px;
        margin: -24px;
        margin-top: 5px;
        padding-bottom: 0px;
    }

    .banner-text-big img {
        width: 100%;
    }

    .bg-section-img {
        height: 214px;
    }

    .img-destination {
        display: none;
    }

    .heading-get {
        padding-top: 40px;
        display: block;
    }

    .one-p {
        font-weight: bold;
        color: #1e2855;
        margin-bottom: 20px;
    }

    .text-bg-left-sec {
        display: none;
    }

    .no-margin-top {
        margin-top: 0px;
    }

    .center-mobile {
        text-align: center;
    }

    .buy-ticket {
        display: none;
    }

    .buy-ticket-mobile {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: -10px;
    }

    .center-mobile .text-purple {
        font-weight: bold;
    }

    .bg-grey {
        background: #eee;
        padding: 15px 0;
    }

    .padding-top-120 {
        padding-top: 120px;
    }

    #hidden_content {
        background: #FFF;
    }

    .bg-section {
        background: url(../images/bg-destination.jpg) top center no-repeat;
        height: 225px;
        background-size: cover;
    }

    .margin-title-detail {
        margin-top: 70px;
    }

    .area-menu {
        padding: 10px;
    }

    .bg-video {
        padding: 10px 0px !important;
        background-size: cover;
    }

    .sosmed-video {
        font-size: 18px;
    }

    .video-custom {
        padding-top: 30px;
    }

    .hashtag {
        font-size: 20pt;
    }

    .hashtag .text-left {
        float: none !important;
        text-align: center !important;
    }

    .bg-orange {
        padding: 25px 0px;
    }

    #footer {
        padding: 40px 0px;
    }
    img.logo-bottom {
        width: 150px;
        
    }

    img.logo-bottom-blibli{
        width: 150px;
        padding: 40px 0px;

    }

    #logo-bottom-blibli.padding-top-40 {
        padding-top: 45px;
    }

    #logo-bottom.padding-40 {
        padding: 36px 0px;
    }

    .bg-blue {
        padding: 25px;
    }

    /*.mar-bot-100-xs {
        margin-bottom: 100px;
    }*/
    .title-sec2 {
        font-size: 35pt;
    }

    .modal-custom {
        min-width: 100% !important;
        margin: 35px 0px;
    }

    .margin-0 {
        margin: 0 auto;
    }

    .close img {
        right: 20px;
        position: absolute;
        z-index: 9;
        top: -30px;
    }

    .bottom-rainbow-long {
        margin-bottom: 0px !important;
    }

    .rainbow {
        margin-bottom: 30px;
    }

    #athelete-tag-button {
        max-width: 250px;
    }

    .img-animal-gagak {
        top: 9px;
        left: 31px;
        width: 123px;
    }

    .title-bg {
        top: 73px;
        width: 213px;
    }

    .short-content {
        margin-top: 20px !important;
    }

    /*.congratulations {*/
        /*margin-top: 90px;*/
        /*margin-bottom: 30px;*/
        /*width: 100%;*/
    /*}*/

    #after-register .bg-modal-text {
        padding: 30px;
        width: 100%;
        margin: 0px;
    }

    .bg-banner-text {
        width: 100%;
        font-size: 11pt;
        display: block;
        margin-top: 30px;
    }

    .banner-text {
        font-size: 30pt;
        clear: both;
        display: block;
    }

    .banner-text-big {
        font-size: 30pt;
        line-height: 35px;
    }

    .area-banner-text {
        margin-top: 270px;
    }

    .arrow-bottom {
        padding-bottom: 40px;
    }

    .short-content.text-blue {
        margin-top: 200px !important;
    }

    .slick-next {
        right: 0;
    }

    .slick-left {
        right: 0;
    }

    .area-profile {
        padding: 24px !important;
        background-size: cover;
        margin: 30px;
    }

    .text-blue h3 {
        font-weight: bold;
        font-family: latoblack;
        font-size: 20px;
        margin-top: 0px;
    }

    .congrat-other{
        margin-bottom: -14px;
    }

    .name-athlete{
        margin-top: 0px;
    }

    .country{
        font-size: 12px;
        margin-bottom: 0px;
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .area-photo {
        padding: 50px;
        right: 10px;
        position: relative;
    }

    .sosmed-share {
        display: block !important;
        padding-bottom: 20px;
    }

    .place {
        font-size: 6pt;
        height: auto;
        margin-top: 5px;
        line-height: normal;
        padding: 5px;
    }

    .sitting {
        font-size: 6pt;
        height: auto;
        margin-top: 5px;
        line-height: normal;
        padding: 5px;
    }

    .modal-content {
        margin: 0px;
    }

    #registerModal .close img {
        right: 0px;
        top: -25px;
        width: 50px;
    }

    .submit-popup {
        margin-top: 20px;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .sosmed-icon {
        display: none;
    }

    .nav-hamburger {
        background: #1e2855;
        width: 40px;
        margin-top: 0;
        padding: 0px 12px;
        margin-left: -10px;
    }

    .wi-img {
        width: 100%;
        height: auto;
        margin-right: -15px;
    }

    .logo-other-games {
        width: 140px;
        margin-left: -10px;
    }

    .topbar {
        background-color: #162a55;
        padding: 5px;
    }

    .area-banner-img {
        width: 130px;
        margin-top: 20px;
    }

    .margin-top-90 {
        margin-top: 0;
    }

    .img-other-games {
        width: 60%;
        display: block;
    }

    .btn-be-an-other-athelete-now {
        width: 90%;
    }

    figcaption h4 {
        font-size: 16px;
    }

    figcaption p {
        font-size: 0.8em;
    }

    .margin-top-130 {
        margin-top: 15px;
    }

    .bg-orange-val {
        padding: 30px 15px 15px 15px;
    }

    .bg-blue-val {
        padding: 30px 15px 15px 15px;
    }

    #after-register #area-profile .text-blue.text-bold.margin-top-20.uppercase{
        margin-top: 5px;
    }
    /*========================*/
    
}

/*END ADVANCED*/
